---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Harrison Ochoa pero mis amigos me llaman Harry. Empecé en la
      programación con scratch cuando tenia 12 años. Actualmente estoy <strong
        >Trabajando como freelancer</strong 
      > en el desarrollo de aplicaciones web y paguinas web.
    </p>

    <p>
      Algunos de mis éxitos logros <strong
        >Crear una aplicacion web full stack</strong
      >. Con fuertes tecnologías como Laravel, React, Tailwind CSS, JavaScript
      y PHP.
    </p>

    <p>
      Actualmente, <strong
        >Estoy estudiando Ingenieria en Software en Rusia </strong
      >. Mi objetivo es mejorar mis habilidades como programador y crear aplicaciones web que tengan un impacto en la sociedad.
    </p>
  </div>

</article>