---
import PhpIcono from "./icons/Php.astro";
import Js from "./icons/Js.astro";
import HtmlIcon from "./icons/Html.astro";
import CssIcon from "./icons/Css.astro";
import Icon from "./icons/Icon.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Laravel from "./icons/Laravel.astro";
import Tailwind from "./icons/Tailwind.astro";
import Mysql from "./icons/Mysql.astro";
import React from "./icons/React.astro";
---
<div>
    <ul class="flex gap-5 text-gray-700 dark:text-gray-300">
        <li >
            <PhpIcono class="size-10" />
        </li>
        <li>
            <Js class="size-10" fill="#ffff" />
        </li>
        <li>
            <Laravel class='size-10' />
          </li>
        <li>
            <HtmlIcon class="size-10" fill="#ffff" />
        </li>
        <li>
            <React class='size-10' />
          </li>
        <li>
            <CssIcon class="size-10" fill="#ffff" />
        </li>
        <li>
          <Icon class='size-10' />
        </li>
        <li>
          <Bootstrap class='size-10' />
        </li>

        <li>
          <Tailwind class='size-10' />
        </li>
        <li>
          <Mysql class='size-10' />
        </li>

    </ul>
</div>